<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}NeoSmile{% endblock %}</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% block head_css %}{% endblock %}
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
    <header>
        <div class="container">
            
            <a href="{{ url_for('ruta_inicio') }}" class="logo-link"><h1 class="logo">NeoSmile</h1></a>
            
            <div class="header-right-group">
                <nav class="main-nav">
                    <ul>
                        <li><a href="{{ url_for('ruta_inicio') }}"><span>Inicio</span></a></li>
                        <li><a href="{{ url_for('ruta_contacto') }}"><span>Clínicas</span></a></li>
                        <li><a href="{{ url_for('ruta_especialidades') }}"><span>Especialidades</span></a></li>
                        <li><a href="{{ url_for('ruta_contacto') }}"><span>Contacto</span></a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('ruta_logout') }}"><span></span></a></li>
                        {% else %}
                            <li><a href="{{ url_for('ruta_login') }}"><span>Acceso / Registro</span></a></li>
                        {% endif %}
                    </ul>
                </nav>

                <div class="cta-buttons">
                    <a href="{{ url_for('ruta_atencion_emergencias') }}" class="btn secondary">Emergencias</a>
                    <a href="{{ url_for('ruta_agendar_cita') }}" class="btn primary">Agendar Cita</a>
                </div>

                {% if current_user.is_authenticated %}
                    <div class="user-menu-container">
                        <div class="user-avatar" id="userAvatarBtn" title="{{ current_user.nombre_completo }}">
                            {{ current_user.nombre_completo[0] | upper }}
                        </div>
                        <div class="user-dropdown-menu" id="userMenu">
                            <a href="{{ url_for('ruta_mi_cuenta') }}">Mi Cuenta</a>
                            <a href="{{ url_for('ruta_logout') }}">Cerrar Sesión</a>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="container">
        <p>© 2025 NeoSmile. Todos los derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% block scripts %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
            {% for category, message in messages %}
                Swal.fire({
                    title: '{{ message | e }}', // |e escapa caracteres para seguridad
                    icon: '{{ category }}', // 'success', 'danger', 'info'
                    timer: 1000,
                    showConfirmButton: false,
                    toast: true,
                    position: 'top-end',
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                });
            {% endfor %}
            </script>
        {% endif %}
    {% endwith %}

</body>
</html>