{% extends "base.html" %}

{% block title %}Inicia Sesión - NeoSmile{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acceso.css') }}">
{% endblock %}

{% block content %}
<div class="acceso-page-container">
    <div class="acceso-card">
        <section class="login-section">
            <div class="section-header centered-text">
                <div class="form-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                </div>
                <h2>Inicia Sesión</h2>
                <p>Accede a tu cuenta para gestionar tus citas.</p>
            </div>
            
            <form method="POST" action="{{ url_for('ruta_login') }}" novalidate>
                <div class="form-group">
                    <label for="login_correo">Correo Electrónico</label>
                    <input type="email" id="login_correo" name="correo" required>
                </div>
                <div class="form-group">
                    <label for="login_password">Contraseña</label>
                    <input type="password" id="login_password" name="password" required>
                </div>
                <div class="form-group submit-group">
                    <button type="submit" class="btn primary">Ingresar</button>
                    <a href="#" class="form-link">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </section>
        <hr class="form-separator">
        <p class="form-footer-text" style="text-align:center;">¿Aún no tienes una cuenta? <a href="{{ url_for('ruta_registro') }}">Regístrate aquí</a>.</p>
    </div>
</div>
{% endblock %}